@import "tailwindcss";

@theme base {
  /* Add your base styles here */
}

@layer base {
 body {
    font-optical-sizing: auto;
    box-sizing: border-box;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold  sm:text-3xl;
  }

}

@layer components {
  
 .roles-page-container {
    @apply container mx-auto flex flex-col items-center justify-center py-12 px-4;
  }

 .role-card {
    @apply w-80 bg-white shadow-md rounded-2xl border border-gray-300 cursor-pointer p-4 mb-4 hover:border-emerald-600 hover:scale-101 transition-transform duration-300;
  }

  .role-card-title {
    @apply text-xl text-center font-semibold mb-2;
  }

  .role-cards-flex {
    @apply flex flex-wrap justify-center gap-6 mt-6;
  }

  .search {
    @apply flex items-center min-w-[20rem] md:w-[30rem] mb-6 border border-gray-300 rounded-xl p-4 ;
  } 
  .search-input {
    @apply flex-grow border-none outline-none text-gray-700 text-lg;
  }
  .search-btn {
    @apply bg-emerald-600 text-white px-4 py-2 rounded-lg ml-4 hover:bg-emerald-700 transition-colors duration-300 cursor-pointer;
  }
}